
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
//variables
@import "./base/variables";

//extends
@import"./base/extends";

//Secciones
@import "./components/header";
@import"./components/presentacion";
@import"./components/equipo";
@import"./components/trabajos";
@import"./components/contacto";
@import"./components/footer";

